<h1>Movie Theaters</h1>

<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-8 col-xs-12">
    <%= form_tag(searches_path, method: "get") do %>
      <div class="input-group">
        <%= text_field_tag :search, nil, placeholder: "Search for Movie Theater", class: "form-control", id: "theater-search" %>
        <span class="input-group-btn">
          <%= submit_tag 'Search', class: "btn btn-default" %>
        </span>
      </div>
    <% end %>
  </div>
</div>

<br>
<% @movie_theaters.each do |theater| %>
  <div class="row">
    <div class="col-lg-6 col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading panel-form-title">
          <h3 class="panel-title pull-left"><%= link_to theater.name, movie_theater_path(theater) %></h3>
          <% if theater.rating > 0 %>
            <p class="panel-title pull-right">Rating: <%= theater.rating %> / 5</p>
          <% end %>
          <div class="clearfix"></div>
        </div>
        <div class="panel-body">
          <div class="col-lg-6 col-md-6 col-xs-6">
            <%= "#{theater.city}, #{theater.state.abbreviation}" %>
          </div>
          <div class="pull-right">
            Reviews <span class="badge"><%= theater.reviews.count %></span>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if @no_search_results %>
  <div class="row">
    <div class="col-lg-6 col-md-8">
      <p>We couldn't find a movie theater matching your search.</p>
      <p>You can add a new movie theater <%= link_to "HERE!", new_movie_theater_path %></p>
    </div>
  </div>
<% end %>
