<div class="well well-lg col-lg-12">
  <div class="col-lg-7">
    <h2 class="theater-show-name"><%= @movie_theater.name %></h2>
    <p>
      <% if !@movie_theater.address.empty? %>
        <%= @movie_theater.address %>
        <br>
      <% end %>
      <%= "#{@movie_theater.city}, #{@movie_theater.state.abbreviation} #{@movie_theater.zipcode}" %>
    </p>
    <% if !@movie_theater.website.empty? %>
      <%= link_to "Theater's Website", url_to_external(@movie_theater.website) %>
    <% end %>

    <% if current_user == @movie_theater.user %>
      <div class="update-theater-show-button-div">
        <%= link_to "Update Theater", edit_movie_theater_path(@movie_theater), class: "btn btn-success btn-sm" %>
      </div>
    <% end %>
  </div>
</div>

<div class="col-lg-12">
  <h3 class="review-theater-title">Review This Theater</h3>

  <% @movie_theater.reviews.each do |review| %>
    <div class="col-lg-12">
      <div class="col-lg-8 col-md-10">
        <div class="well">
          <h4><%= review.title %></h4>
          <p>
            <%= review.body %>
          </p>
          <h6><strong>Review By: <%= review.user.username %></strong></h6>
        </div>
      </div>
    </div>
  <% end %>
</div>
