<div class="well well-lg col-lg-12">
  <div class="col-lg-7">
    <h2 class="theater-show-name"><%= @movie_theater.name %></h2>
    <div class="col-lg-3 no-left-padding">
      <p>
        <% if !@movie_theater.address.empty? %>
          <%= @movie_theater.address %>
          <br>
        <% end %>
        <%= "#{@movie_theater.city}, #{@movie_theater.state.abbreviation} #{@movie_theater.zipcode}" %>
      </p>
      <% if !@movie_theater.website.empty? %>
        <%= link_to "Theater's Website", url_to_external(@movie_theater.website) %>
      <% end %>
    </div>
    <div class="col-lg-3 col-lg-offset-1 no-left-padding">
      <% if @movie_theater.rating > 0 %>
        <p>Rating: <%= @movie_theater.rating %>/5</p>
      <% end %>
    </div>
    <% if current_user == @movie_theater.user %>
      <div class="col-lg-12 no-left-padding update-theater-show-button-div">
        <%= link_to "Update Theater", edit_movie_theater_path(@movie_theater), class: "btn btn-success btn-sm" %>
      </div>
    <% end %>
    <% if current_user.try(:admin?) %>
      <div class="col-lg-12 no-left-padding update-theater-show-button-div">
        <%= button_to "Delete Theater", movie_theater_path(@movie_theater), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger btn-sm" %>
      </div>
    <% end %>
  </div>
</div>

<div class="col-lg-12">
  <div class="col-lg-12">
    <div class="col-lg-12">
      <h3 class="review-theater-title">Reviews</h3>
      <% if current_user && !@movie_theater.reviews.where(user: current_user).empty? %>
        <%= link_to "Update Review", edit_movie_theater_review_path(@movie_theater, @movie_theater.reviews.where(user: current_user)[0]), class: "btn btn-primary", id: "add-review-link" %>
      <% else %>
        <%= link_to "Add Review", new_movie_theater_review_path(@movie_theater), class: "btn btn-primary", id: "add-review-link" %>
      <% end %>
    </div>
  </div>
  <% @movie_theater.reviews.order(updated_at: :desc).each do |review| %>
    <div class="col-lg-12">
      <div class="col-lg-8 col-md-10">
        <div class="well">
          <h4><%= review.title %></h4>
          <% if review.rating > 0 %>
            <h5>Rating: <strong><%= review.rating %>/5</strong></h5>
          <% end %>
          <p>
            <%= review.body %>
          </p>
          <h6>
            <strong>Review By: <%= review.user.username %></strong> - Created On:
            <%= review.created_at.strftime('%x') %>
            <% if review.updated_at.strftime('%x') != review.created_at.strftime('%x') %>
              - Updated On: <%= review.updated_at.strftime('%x') %>
            <% end %>
          </h6>
          <% if current_user.try(:admin?) %>
            <div class="update-theater-show-button-div">
              <%= button_to "Delete Review", movie_theater_review_path(@movie_theater, review), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger btn-sm" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
