<div class="well well-lg col-lg-12">
  <div class="col-lg-7">
    <p>
      Username: <strong><%= @user.username %></strong><br>
      First Name: <strong><%= @user.first_name %></strong><br>
      Last Name: <strong><%= @user.last_name %></strong><br>
      Email: <strong><%= @user.email %></strong><br>
      Account Create On: <strong><%= @user.created_at.strftime('%x') %></strong>
    </p>
    <% if @user.deleted_at.nil? %>
      <%= button_to "Delete User", admin_user_path(@user), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger btn-sm" %>
    <% else %>
      <span class="label label-danger">
        Account Deleted On: <strong><%= @user.deleted_at.strftime('%x') %></strong>
      </span>
    <% end %>
  </div>
</div>
